.dark {
  --border-dark: #555;
  --border-light: #444;
  --background: #222;
  --text-dark: #aaa;
  --text-light: #222;
  --color-light: #33C3F0;
  --color-dark: #1EAEDB;
}

.light {
  --background: #fff;
  --text-dark: #333;
  --text-light: #fff;
  --border-dark: #333;
  --border-light: #999;
  --color-light: #33C3F0;
  --color-dark: #1EAEDB;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  background-color: var(--background);
}

.board-tile {
  width: 140px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-dark);
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--border-dark);
  cursor: pointer;
  box-sizing: border-box;
}

.board-tile:hover  {
  color: var(--color-light);
  border-color: var(--border-light);
  outline: 0; 
}
.board-tile.colored {
  color: var(--text-light);
  background-color: var(--color-light);
  border-color: var(--color-light); 
}

.board-tile.colored:hover{
  color: var(--text-light);
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}

.toolbar {
  pointer-events: none;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
}
.toolbar-content {
  /* border: 1px solid;
  border-radius: 7px; */
  padding: 10px;
  margin-left: -5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.color {
  position: absolute;
  transform-origin: center left;
  border: 2px solid;
  border-radius: 10px;
  width: 10px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  border-color: var(--border-dark);
}

.color-selector.active .color{
  width: 100px;
}


.color-selector.active .color.highlighted{
  width: 120px;
}

.size-selector {
  display: flex;
  gap: 10px;
  align-items: center;
}
.size-indicator {
  border: 2px dashed var(--border-dark);
  border-radius: 50%;
}

.slider-box {
  pointer-events: auto;
  height: 20px;
  border: 2px solid var(--border-dark);
  border-radius: 10px;
  padding-bottom: 1px;
  margin-left: -30px;
  padding-right: 7px;
  background-color: var(--background);
  transition: all 0.2s;
  width: 0px;
  pointer-events: none;
}

.slider-box > input {
  width: 100% !important;
}

.slider-box.active {
  width: 150px;
  padding-left: 25px;
  pointer-events: auto;
}

.icon-circle {
  z-index: 1000;
  pointer-events: auto;
  cursor: pointer;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border: 2px solid var(--border-dark);
  color: var(--text-dark);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  transition: transform 0.1s;
}

@media (any-pointer: fine) {
  .icon-circle:hover {
    transform: scale(1.1);
  }
}


.slide-out {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row-reverse;
}
.slide-out > *{
  transition: margin-right 0.2s, transform 0.1s;
}

.slide-out > :not(.cover)  {
  transform: scale(0.9);
}


@media (any-pointer: fine) {
  .slide-out > :not(.cover):hover  {
    transform: scale(1.0);
  }
}

.slide-out > *{
  margin-right: -53.5px;
}

.slide-out.active > *{
  margin-right: 3px;
}
.color-selector {
  z-index: 1001;
  pointer-events: auto;
  width: 53.5px;
  height: 53.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  border-color: var(--border-dark);
}

.color-box {
  position: relative;
  width: 0;
  height: 20px;
}

.color-indicator {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-radius: 50%; 
  background-color: var(--background);
  border-color: var(--border-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s;
}

@media (any-pointer: fine) {
  .color-indicator:hover {
    transform: scale(1.1);
  }
}

.color-circle {
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 50%;
}

.button:not(.button-primary) {
  background-color: var(--background) !important;
}

.board {
  border: 3px dashed var(--border-dark);
  box-sizing: border-box;
}

.cursor {
  position: absolute;
  pointer-events: none;
  left: -49px;
  top: -29px;
  width: 100px;
  user-select: none;
  transition: transform 200ms;
}

.cursor > .dot {
  position: absolute;
  left: 43px;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.cursor > .label {
  position: relative;
  top: 30px;
  width:100%;
  text-align: center;
  word-wrap: break-word;
  display: inline-block;
  color: var(--text-dark);
}
